{# Set the page title to include the site name, unless we're on the home page.#}
{% set pageTitle = site.name + "--" + title %}
{% if site.name === title %}
  {% set pageTitle = title %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/app.css' | url }}" />
    <link rel="icon" href='data:image/svg+xml,{% include "partials/icon.svg" %}' />
    <title>{{ pageTitle }}</title>
    {# The 'head' frontmatter list allows us to add header material, e.g., to
    load additional scripts/stylesheets for a particular post. #}
    {% if head %}
      {% for entry in head %}
        {{ entry | safe }}
      {% endfor %}
    {% endif %}
  </head>
  <body>
    {% include "partials/site-head.html" %}
    <div class="container-lg m-auto pt-3">
      <main tabindex="-1" id="main-content">
        {% block content %}
        <p>Placeholder content...</p>
        {% endblock %}
      </main>
    </div>
    <script type="text/javascript" src="{{ '/app.js' | url }}"></script>
  </body>
</html>
