<a class="visually-hidden-focusable" href="#main-content">Skip to main content</a>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" aria-label="{{ site.name }} - home">Jeff Walls</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% for item in navigation.items %}
          <li class="nav-item">
            <a {{ utils.getBootstrapNavbarState(page.url, item.url) | safe }} href="{{ item.url }}">
                {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
